@charset "UTF-8";

#text-verify-title {
	font-weight:800;
}

#submit {
	position:relative;
	width:13em;
	height:3em;
	margin:2em;
	border:none;
	outline:none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	letter-spacing:.1em;
	cursor:pointer;
	overflow:hidden;
	user-select:none;
	border-radius:6px;
	font-weight:550;
	color:white;
	background-color:var(--global-color-base);
	text-align: center;
	font-family: var(--global-font-family-special);
}

#submit-button-container {
	text-align: center;
}

.class-submit-button-div {
}